{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cases</h1>

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <div id="cases-table">
        <!-- React CasesTable component goes here -->
    </div>
    {% if cases %}
        <ul>
            {% for case in cases %}
                <li>
                    <a href="{{ path('viewcase', {id: case.id}) }}">{{ case.description }}</a> - <a href="{{ path('editcase', {id: case.id}) }}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cases') }}
{% endblock javascripts %}
