{% extends 'base.html.twig' %}

{% import _self as viewMacros %}

{% macro makePersonContainer(person, personType) %}
    <div class="person-container">
        <div class="person-name">
            <h5>{{ person.name }}</h5>
        </div>
        <div class="person-role">
            <strong>Role: </strong>{{ person.role }}
        </div>
        {% if person.traits %}
            {% for trait, val in person.traits %}
                <div class="trait-row">
                    <strong>{{ trait }}:&nbsp;</strong> {{ val }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro makePersonContainer %}

{% block title %}
    Case {{ case.description }}
{% endblock title %}

{% block body %}
<div class="case-container">
    <div class="case-header">
        <div class="header-logo">
            <h2>{{ case.description }}</h2>
        </div>
        <div class="header-info">
            <small class="text-soft">
                {{ case.date|date("F j, Y - g:ia") }}
            </small>
        </div>
    </div>
    <div class="case-body">
        <div class="summary">
            <div class="body-header">
                <h4>Summary</h4>
            </div>
            <div class="summary-body">
                <p>{{ case.summary }}</p>
            </div>
        </div>

        {% if case.video %}
            <div class="video">
                <div class="body-header">
                    <h4>Video</h4>
                </div>
                <div class="summary-body">
                    <video  width="320px" height="240px" controls>
                        <source src="{{ uploaded_asset(case.videoPath) }}" type="video/mp4">
                    </video>
                </div>
            </div>
        {% endif %}

        <div class="primary-person">
            <div class="body-header">
                <h4>Primary Person</h4>
            </div>
            {{ viewMacros.makePersonContainer(case.primaryPerson, "primary-person") }}
        </div>
        
        <div class="associated-persons">
            <div class="body-header">
                <h4>Associated Persons</h4>
            </div>
            {% if case.associatedPersons %}
            {% for person in case.associatedPersons %}
                {{ viewMacros.makePersonContainer(person, "assoc-person") }}
                {% if person != case.associatedPersons[case.associatedPersons|length - 1] %}
                    <hr />
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>


{% endblock body %}
